/*---------------------------Import from Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

.per_marker{
    font-family:'Permanent Marker';
    color: black;
}

body{
    background-color: whitesmoke;
    font-family:'Montserrat';
}

/*-------------------------------------------------------------------------------BUTTONS-CHECKED*/

.btn-small {
    margin:5px;   
}

/*-------------------------------------------------------------------------------FOOTER-CHECKED*/

.footer-items i {
    display: inline;
    font-size: 180%;
    margin: 1%;
    padding-top:10px;
    padding-bottom: 10px;  
}

footer a {
    border-bottom: none;
    color: #5e35b1;
}

footer{
    text-align: center;
}

/*------------------------------------------------------------------------------MEDIA QUERIES*/

/* Footer resizing */

@media screen and (max-width:450px){
    #footer span {
        font-size: 0;
    }

    footer a i {
        color: #5e35b1;
    }

    .shrink-header{
        font-size: 45px;
    }
}

/* Hide Serach icon on characters.html at less than 290px */

@media screen and (max-width:290px){
 
    #search-icon-info{
        font-size: 0px;
    }
}

/*when width is this or above*/

@media screen and (min-width:1024px){
    .card-image img {
        height:200px;
        width: 155px;
    }
    .card-content {
        height: 150px;
        padding: 10px !important;
    }

}

/*when width is this or below.*/

@media screen and (max-width:800px){
    .card-image img {
        height:200px;
        width: 155px;
    }
    .card-content {
        padding: 10px !important;
        height: 150px;
    }

}