body{
    background-color: whitesmoke;
}
/*---------------------------test add classes for flash messages(TEMPORARY)*/
.red{
    background-color: red;
}

.green{
    background-color: green;
}

.blue{
    background-color: blue;
}


/*----------------------footer*/
footer{
    line-height: 10;
    font-size: larger;
}

  
/*------------------------------------------------------------------------------MEDIA QUERIES*/



/*@media screen and (max-width:609px){
    .card-image img {
         height:150px;
         max-height: 100%;
    }

}*/

@media screen and (min-width:600px){
    .card-image img {
         height:200px;
         max-height: 100%;
    }

}