/*---------------------------Import from Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

.per_marker{
    font-family:'Permanent Marker';
}

/*----------------------------------------------*/

body{
    background-color: whitesmoke;
    font-family:'Montserrat';
}
/*---------------------------test add classes for flash messages(TEMPORARY)*/
.red{
    background-color: red;
}

.green{
    background-color: green;
}

.blue{
    background-color: blue;
}

/*-------------------------------------------------------------------------------BUTTONS*/

/*buttons on info.html*/
.btn-small {
    margin:5px;   
}

/*-------------------------------------------------------------------------------TEXT*/

/*text on info.html*/
.collapsible-header .col strong {
    margin:5px;
    line-height: 42px;
}

.underline{
    
    text-decoration: 3px solid black;
}


/*-------------------------------------------------------------------------------FOOTER*/
footer{
    line-height: 10;
    font-size: larger;
}

  
/*------------------------------------------------------------------------------MEDIA QUERIES*/



/*@media screen and (max-width:601px){
    .card-image img {
         height:150px;
         max-height: 100%;
    }

}*/

@media screen and (min-width:600px){
    .card-image img {
         height:200px;
         max-height: 100%;
    }

}