{% extends "base.html" %}
{% block content %}
    <!--Example of using json file to pull data, and use loops to iterate.-->
    <h1>About Page</h1>

    {% for character in characters %}
    
        <div class="div">

            {% if loop.index % 2 !=0 %}

                <h3><a href="/about/{{ character.url }}">{{loop.index}}.{{character.name }}</a></h3>
                <p>{{character.description }}</p>
                <div><img class="responsive-img" src="{{character.image_source}}" alt="Image of {{character.name}}"></div>
                <p>{{character.skills}}</p>

            {% else %}

                <div><img class="responsive-img" src="{{character.image_source}}" alt="Image of {{character.name}}"></div>
                <p>{{character.skills}}</p>
                <h3><a href="/about/{{ character.url }}">{{loop.index}}.{{character.name }}</a></h3>
                <p>{{character.description }}</p>
        
            {% endif %}

        </div>

        {% if loop.index != loop.length %}

            <hr class="divider">
        
        {% endif %}

    {% endfor %}

{% endblock %}