{% extends "base.html" %}
{% block content %}
        <div class="container">
            <div class="row">
                <div class="col s12 m8 offset-m2 deep-purple darken-1">
                    <div class="card-panel">
                        <h3 class="center-align per_marker">
                            Add a Character Role
                        </h3>
                    </div>
                </div>
            </div>
            <form class="col s12 m8 offset-m2" method ="POST" action="{{ url_for('add_role') }}">
                <div class="row">
                    <!--Character Role-->
                    <div class="input-field col s12">
                        <i class="fas fa-mask prefix"></i>
                        <input id="characters_role" name="characters_role" type="text" 
                            minlength="3" maxlength="25" class="validate" required>
                        <label for="characters_role">Character's Role :</label>
                    </div>
                </div>
                <div class="row">
                    <!-- Add Role button -->
                    <div class="col s12 center-align">
                        <a href="{{ url_for('roles') }}"  class="waves-effect waves-light btn-small per_marker red accent-3">Cancel</a>
                        <button type="submit" class="waves-effect waves-light btn-small green accent-3 per_marker">
                            Add Role
                        </button>
                    </div>
                </div>
            </form>
        </div>

{% endblock %}
