{% extends "base.html" %}
{% block content %}

    <div class="container">
        <div class="row">
        <h1 class="per_marker shrink-header">Characters...</h1>
        </div>
        <div class="row">
            <p>Here you can view all our characters, or search by currently available Roles such as:
                {% for role in roles %}
                    <span>{{ role.character_role.capitalize() }}
                    {% if loop.index != loop.length  %}
                        /
                    </span>
                    {% endif %}
                {% endfor %}
                ... or both by pairing roles with descriptions like " Hero and Werewolf " or "Villan and Necromancer".
            </p>
        </div>
        <!--Hide push/reminder for login/register is session user exists-->
        {% if session.user %}           
            {% else %}
            <div class="row">
                <h4 class="per_marker">Be sure..</h4>
                <p>to <a href="{{url_for('register')}}">Register</a> if you want to upload your own characters, 
                    or <a href="{{url_for('login')}}">Login</a> to edit your existing characters.
                </p>
            </div>
        {% endif %}
        <div class="row">
            <h4 class="per_marker">Or..</h4>
            <p>You can simply scroll through the full list below. Hit the drop down ( <i class="fas fa-caret-down"></i> ) to see more information.
            </p>
        </div>
    </div>
    <!--Search function for characters-->
    <div class="container">
        <div class="row card-panel deep-purple darken-1">
            <form action="{{ url_for('search') }}" method="GET" class="col s12">
                <div id="jq-valign" class="row valign-wrapper center-align">
                    <div class="input-field col s12 m8">
                        <i id="search-icon-info" class="fas fa-search prefix white-text"></i>
                        <input type="text" name="query" id="query" class="validate" minlength="3" required>
                        <label for="query">Serach for Characters</label>
                    </div>
                    <div class="col s12 m4">
                        <a href="{{ url_for('characters') }}" class="waves-effect waves-light btn-small per_marker red accent-3">Reset</a>
                        <button type="submit" class="waves-effect waves-light btn-small per_marker blue accent-3">Search
                        </button>
                        <!--Hide 'Create Button is session user doesn't exists'-->
                        {% if session.user %} 
                            <a href="{{ url_for('create_character', username=session['user']) }}" class="waves-effect waves-light btn-small per_marker green accent-3">Create</a>
                        {% endif %}
                    </div>
                </div>
            </form>
        </div>
        <!--List of characters & search results with flash message at end. -->
        {% if characters|length > 0 %}
        <ul class="collapsible">
            {% for character in characters %}
            <li>
                <div class="ifVisible collapsible-header white-text deep-purple darken-1">
                    <div class="col s3"><i class="fas fa-caret-down"></i></div>
                    <div class="col 9">
                        <strong>{{ character.character_role.capitalize() }} : This is {{ character.character_name.capitalize() }}, a {{ character.character_description.capitalize() }}. </strong>
                    </div>
                </div>
                <div class="collapsible-body">
                    <h5 class="per_marker">Character Bio :</h5> 
                    <p>{{ character.character_bio.capitalize() }}</p>
                    <hr>
                    <h5 class="per_marker">Special skills include :</h5> 
                    <p>{{ character.character_skills.capitalize() }}</p>
                    <hr>
                    <p><em>Created by : {{ character.created_by.capitalize() }}</em></p>
                    <hr>
                    <div class="col s3">
                        {% if session.user|lower == character.created_by|lower %}
                            <a href="{{ url_for('edit_character', characters_id=character._id) }}" class="waves-effect waves-light btn-small per_marker blue accent-3">Edit</a>
                            <!-- Modal Trigger -->
                            <button data-target="myModal" class="fakeCharacaterDeleteButton btn-small modal-trigger per_marker red accent-3">Delete</button>
                            <a href="{{ url_for('characters') }}" class="cancelButton waves-effect waves-light btn-small per_marker yellow accent-3">No! Cancel</a>
                            <a href="{{ url_for('delete_character', characters_id=character._id) }}" 
                                class="characterDeleteButton waves-effect waves-light btn-small per_marker red accent-3"> Yes! Delete forever</a>
                        {% elif session.user|lower == "admin"|lower %}
                            <a href="{{ url_for('edit_character', characters_id=character._id) }}" class="waves-effect waves-light btn-small per_marker blue accent-3">Edit</a>
                            <!-- Modal Trigger -->
                            <button data-target="myModal" class="fakeCharacaterDeleteButton btn modal-trigger per_marker red accent-3">Delete</button>
                            <a href="{{ url_for('characters') }}" class="cancelButton waves-effect waves-light btn-small per_marker yellow accent-3">No! Cancel</a>
                            <a href="{{ url_for('delete_characters', characters_id=character._id) }}" 
                                class="characterDeleteButton waves-effect waves-light btn-small per_marker red accent-3"> Yes! Delete forever</a>
                        {% endif %}
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
        <!-- Modal Structure -->
        <div id="myModal" class="modal bottom-sheet">
            <div class="modal-content">
            <h4 class="per_marker">Warning!</h4>
            <p>Deletion is absolutely permenant.</p>
            <a href="{{ url_for('characters') }}" class="modal-close btn green accent-3">NO! I want to Cancel.</a>
            <a class="callDeleteCancelButtons modal-close btn red accent-3">I understand.</a>
            </div>
            <div class="modal-footer left-align">
            </div>
        </div>
        {% else %}
            <h4 class="per_marker"> Whoops ! No results found.</h4>
        {% endif %}
    </div>

{% endblock %}
