{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col s12 m8 offset-m2 deep-purple darken-1">
                <div class="card-panel">
                    <h3 class="center-align per_marker">
                        Create a Character
                    </h3>
                </div>
            </div>
        </div>
        <div class="row card-panel">
            <form class="col s12 m8 offset-m2" method ="POST" action="{{ url_for('create_character_from_profile', username=session['user']) }}">
                <div class="row">
                    <!--Character Role-->
                    <div class="input-field col s12">
                        <i class="fas fa-mask prefix"></i>
                        <select id="character_role" name="character_role" class="validate" required>
                            <option value="" disabled selected>Choose Role</option>
                            {% for role in roles  %}
                                <option value="{{ role.character_role }}">{{ role.character_role }}</option>
                            {% endfor %}
                        </select>
                        <label for="character_role"></label>
                    </div>
                </div>
                <div class="row">
                    <!--Character Name-->
                    <div class="input-field col s12">
                        <i class="fas fa-signature prefix"></i>
                        <input id="character_name" name="character_name" type="text" 
                            minlength="5" maxlength="50" class="validate" required>
                        <label for="character_name">Character name :</label>
                    </div>
                </div>
                <div class="row">
                    <!--Character Description-->
                    <div class="input-field col s12">
                        <i class="fas fa-transgender-alt prefix"></i>
                        <textarea id="character_description" name="character_description"
                         minlength="5" maxlength="200" class="materialize-textarea validate" required></textarea>
                        <label for="character_description">Character description :</label>
                    </div>
                </div>
                <div class="row">
                    <!--Character Bio-->
                    <div class="input-field col s12">
                        <i class="fas fa-info prefix"></i>
                        <textarea id="character_bio" name="character_bio"
                         minlength="5" maxlength="200" class="materialize-textarea validate" required></textarea>
                        <label for="character_bio">Character bio :</label>
                    </div>
                </div>
                <div class="row">
                    <!--Character Skills-->
                    <div class="input-field col s12">
                        <i class="fas fa-toolbox prefix"></i>
                        <textarea id="character_skills" name="character_skills"
                         minlength="5" maxlength="200" class="materialize-textarea validate" required></textarea>
                        <label for="character_skills">Character skills :</label>
                    </div>
                </div>
                <div class="row">
                    <!--submit button-->
                    <div class="col s12 center-align">
                        <a href="{{ url_for('profile', username=session['user']) }}"  class="waves-effect waves-light btn-small per_marker red accent-3">Cancel</a>
                        <button type="submit" class="waves-effect waves-light btn-small per_marker green accent-3">Create</button>
                    </div>   
                </div>
            </form>
        </div>
    </div>

{% endblock %}
