{% extends "base.html" %}
{% block content %}
      <div class="row">
          <div class="col s12 m8 offset-m2 deep-purple darken-1">
              <div class="card-panel">
                  <h3 class="center-align">
                      {{ username }}'s Profile
                  </h3>
              </div>
            </div>
      </div>
      <h3 class="deep-purple darken-1">Edit a Charcater</h3>
        <div class="row card-panel grey">
            <form class="col s12" method ="POST" action="{{ url_for('edit_info', username=session['user'], info_id=info._id) }}">
                <div class="row">
                    <!--Character Role / alligience-->
                    <div class="input-field col s12">
                        <i class="fas fa-folder-open prefix white-text"></i>
                        <select id="characters_role" name="characters_role" class="validate" required>
                            <option value="" disabled>Choose Alligience</option>
                            {% for character in characters  %}
                                {% if character.characters_role == info.characters_role %}
                                    <option value="{{ character.characters_role }}" selected >{{ character.characters_role }}</option>
                                {% else %}
                                    <option value="{{ character.characters_role }}">{{ character.characters_role }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <label for="characters_role">Character's Role</label>
                    </div>
                </div>
                <div class="row">
                    <!--Character Name-->
                    <div class="input-field col s12 deep-purple darken-1">
                        <i class="fas fa-user-circle prefix white-text"></i>
                        <input id="infos_name" name="infos_name" type="text" 
                            minlength="5" maxlength="50" value="{{ info.infos_name }}" 
                            class="validate" required>
                        <label for="infos_name">Character Name :</label>
                    </div>
                </div>
                <div class="row">
                    <!--Character Description-->
                    <div class="input-field col s12 deep-purple darken-1">
                        <i class="fas fa-align-left prefix white-text"></i>
                        <textarea id="infos_description" name="infos_description" minlength="5" 
                                maxlength="200" class="materialize-textarea validate" required>
                                {{- info.infos_description -}}
                        </textarea>
                        <label for="infos_description">Charcater Description :</label>
                    </div>
                </div>
                <div class="row">
                    <!--submit button-->
                    <div class="col s12 center-align">
                        <button type="submit" class="btn-large deep-purple">Edit Character <i class="fas fa-edit right"></i></button>
                    </div>   
                </div>
            </form>
        </div>

{% endblock %}
