{% extends "base.html" %}
{% block content %}
    <div class="container">
      <div class="row">
            <div class="col s12 m8 offset-m2 deep-purple darken-1">
                <div class="card-panel">
                    <h3 class="center-align per_marker">
                        Edit / Delete a Character Role
                    </h3>
                </div>
            </div>
        </div>
        <div class="row card-panel">
            <form class="col s12 m8 offset-m2" method ="POST" action="{{ url_for('edit_role', role_id=role._id) }}">
                <div class="row">
                    <!--Character Role-->
                    <div class="input-field col s12">
                        <i class="fas fa-mask prefix"></i>
                        <input id="character_role" name="character_role" type="text" 
                            value="{{ role.character_role }}" minlength="3" maxlength="25" class="validate" required>
                        <label for="character_role"></label>
                    </div>
                </div>
                <!-- Edit Role button -->
                <div class="row">
                    <div class="col s12 center-align">
                        <a href="{{ url_for('roles') }}" class="waves-effect waves-light btn-small per_marker yellow accent-3">
                            Cancel
                        </a>
                        <button type="submit" class="editRoleButton waves-effect waves-light btn-small per_marker green accent-3">
                            Edit Role
                        </button>
                        <button data-target="myModal" 
                            class="fakeCharacaterDeleteButton btn-small modal-trigger per_marker red accent-3">Delete</button>
                        <a href="{{ url_for('delete_role', role_id=role._id) }}"
                            class="characterDeleteButton waves-effect waves-light btn-small per_marker red accent-3">Yes Delete this forever.</a> 
                    </div>
                </div>
            </form>
        </div>
        <!-- Modal Structure -->
        <div id="myModal" class="modal">
            <div class="modal-content">
            <h4 class="per_marker">Warning!</h4>
            <p>Deletion is absolutely permenant.</p>
            <a href="{{ url_for('roles') }}" class="modal-close btn-small green accent-3">NO! Cancel.</a>
            <a class="callDeleteCancelButtons modal-close btn-small red accent-3">Proceed to delete</a>
            </div>
            <div class="modal-footer left-align">
            </div>
        </div>
    </div>
{% endblock %}
