{% extends "base.html" %}
{% block content %}
    <!--Example of using json file to pull data, and use loops to iterate.-->
    <div class="container"><h1>Some examples</h1></div>

    {% for character in characters %}
        
        <div class="container">
            <h3>{{character.name }} </h3> 
            <p>{{character.description }}</p>
            <p>{{character.bio}}</p>
            <a href="/examples/{{ character.url }}">Learn more about {{ character.name }}</a>
        

            {% if loop.index != loop.length %}

                <hr class="divider">
        
            {% endif %} 

        </div>

    {% endfor %}

{% endblock %}