{% extends "base.html" %}
{% block content %}
    <div class="container">
        <h1 class="per_marker">I need a Hero</h1>
        <div class="row">
            <p>A common happenstance for writers is either not having enough characters or having too many. So we've created a home for both.
                Here you'll find a handy database of characters our users have uploaded. You're free to use any characters for any project, and absolutely encouraged to upload
                your own for others to use.  
            </p>
        </div>
    </div>
    <div class="container">
        <h5 class ="per_marker">Click on an image below to see our database</h5>
        <div class="row">
            <div class="col m4">
                <div class="card">
                    <a href="{{ url_for('characters') }}">
                        <div class="card-image ">
                            <img src="{{ url_for('static', filename='images/blue-sky-bg.jpg') }}">
                            <span class="card-title per_marker">Hero</span>
                        </div>
                        <div class="card-content blue darken-4 white-text">
                            <p>Explore our epic Hero's and Heroines for the perfect characters to expand your story,
                                or get idea's to create your own.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col m4 neutral">
                <div class="card">
                    <a href="{{ url_for('characters') }}">
                        <div class="card-image">
                            <img src="{{ url_for('static', filename='images/grey-sky-bg.jpg') }}">
                            <span class="card-title per_marker">Neutral</span>
                        </div>
                        <div class="card-content grey darken-4 white-text">
                            <p>Mostly created to be killed by Villans, or saved by Hero's, see our neutral 
                                sidekicks or secondary characters to choose from or add to.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col m4">
                <div class="card">
                    <a href="{{ url_for('characters') }}">
                        <div class="card-image">
                            <img src="{{ url_for('static', filename='images/red-sky-bg.jpg') }}">
                            <span class="card-title per_marker">Villan</span>
                        </div>
                        <div class="card-content red darken-4 white-text">
                            <p>Navigate through our most evil villans for the biggest of bads, or a 
                                simple enemy for your hero to defeat for that act one hook.</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <h5 class ="per_marker">We're all about feedback, fairplay and improving our content.</h5>
        <p>Please keep your edits and uploads family friendly. We're not afraid to boot or ban users.</p>
        <p>We publish a monthly newletter to showcase the best uploads, and exhibit users' short stories using characters from our site. 
                If you're interested in taking part, or have a suggestion for improvements you can contact 
                us <a href="{{url_for('contact')}}">here.</a></p>
        {% if session.user %}
        {% else %}
            <p>Be sure to <a href="{{url_for('register')}}">Register</a> if you want to upload your own characters, or <a href="{{url_for('login')}}">Login</a> to edit existing characters.</p>
        {% endif %}
    </div>
    {% endblock %}
