{% extends "base.html" %}
{% block content %}
    <div class="container">
    {% for info in infos %}
        <li> Name : {{ info.infos_name }}</li><br>
        <li> Allegiance : {{ info.characters_name }}</li><br>
        <li> Description : {{ info.infos_description }}</li><br>
    {% endfor %}
    </div>

    <ul class="collapsible">
        <li>
        <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
        <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
        <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
  </ul>


{% endblock %}
