{% extends "base.html" %}
{% block content %}

    <div class="container">
        <div class="row">
        <h1 id="info-header" class="per_marker">Characters ...</h1>
        </div>
        <div class="row">
            <p>Here you can view all our current characters, or serach by Allegiance such as (Hero/ Neutral/ Villan), 
                or by Description like (Werewolf/ Necromancer/ Human).
            </p>
        </div>
        <div class="row">
            <h4 class="per_marker">Or ...</h4>
        </div>
        <div class="row">
            <p>You can simply scroll through the full list below. Be sure to use the drop down to see more information.
            </p>
        </div>
    </div>
    <!--Search function for characters-->
    <div class="container">
        <div class="row card-panel deep-purple">
            <form action="{{ url_for('search') }}" method="POST" class="col s12">
                <div id="jq-valign" class="row valign-wrapper center-align">
                    <div class="input-field col s12 m8">
                        <i id="search-icon-info"class="fas fa-search prefix white-text"></i>
                        <input type="text" name="query" id="query" class="validate" minlength="3" required>
                        <label id="info-search-label" for="query">Serach for Characters</label>
                    </div>
                    <div class="col s12 m4">
                        <a href="{{ url_for('get_info') }}" class="waves-effect waves-light btn-small">Reset</a>
                        <button type="submit" class="waves-effect waves-light btn-small">Search
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <!--List of characters -->
        {% if infos|length > 0 %}
        <ul class="collapsible">
            {% for info in infos %}
            <li>
                <div class="collapsible-header white-text deep-purple darken-1">
                    <div class="col s3">
                        <i class="fas fa-caret-down"></i>
                        {% if session.user|lower == info.created_by|lower %}
                            <a id="delete" href="{{ url_for('delete_info', info_id=info._id) }}" class="btn-small green accent-4">Delete</a>
                            <a href="{{ url_for('edit_info', info_id=info._id) }}" class="btn-small light-blue accent-4">Edit</a>
                        {% elif session.user|lower == "admin"|lower %}
                            <a id="delete" href="{{ url_for('delete_info', info_id=info._id) }}" class="btn-small green accent-4">Delete</a>
                            <a href="{{ url_for('edit_info', info_id=info._id) }}" class="btn-small light-blue accent-4">Edit</a>
                        {% endif %}
                    </div>
                    <div class="col s9">
                        <strong>This is {{ info.infos_name.capitalize() }}, a  {{ info.infos_description.capitalize() }} {{ info.characters_role.capitalize() }}. </strong>
                    </div>
                </div>
                <div class="collapsible-body">
                    <h5 class="per_marker">Character Bio :</h5> 
                    <p>{{ info.infos_bio }}</p>
                    <hr>
                    <h5 class="per_marker">Special skills include :</h5> 
                    <p>{{ info.infos_skills }}</p>
                    <hr>
                    <p><em>Created by : {{ info.created_by.capitalize() }}</em></p>
                </div>
            </li>
            {% endfor %}
        </ul>
        {% else %}
            <h3 class="deep-purple darken-1">No Results found</h3>
        {% endif %}
        <div class="row session-exists-hide">
            <h4 class="per_marker">Or ...</h4>
        </div>
        <div class="row session-exists-hide">
            <p>Be sure to <a href="{{url_for('register')}}">Register</a> if you want to upload your own characters, 
                or <a href="{{url_for('login')}}">Login</a> to edit existing characters.
            </p>
        </div>
    </div>

{% endblock %}
