{% extends "base.html" %}
{% block content %}
    <div class="container">
    {% for info in infos %}
        <li> Name : {{ info.infos_name }}</li><br>
        <li> Allegiance : {{ info.characters_role }}</li><br>
        <li> Description : {{ info.infos_description }}</li><br>
    {% endfor %}
    </div>

    <h3 class="deep-purple darken-1">All Characters</h3>

    <ul class="collapsible">
        {% for info in infos %}
        <li>
            <div class="collapsible-header white-text deep-purple darken-1">
                <div class="col s3">
                    <i class="fas fa-caret-down"></i>
                    {% if session.user|lower == info.created_by|lower %}
                        <a id="delete" href="{{ url_for('delete_info', info_id=info._id) }}" class="btn-small green accent-4">Delete</a>
                        <a href="{{ url_for('edit_info', info_id=info._id) }}" class="btn-small light-blue accent-4">Edit</a>
                    {% endif %}
                </div>
                <div class="col s9">
                    <strong>Name : {{ info.infos_name }}</strong> : Allegiance : {{ info.characters_role }}
                </div>
            </div>
            <div class="collapsible-body">
                <strong>Description : {{ info.infos_description }}</strong>
                <p>Something else in here.</p>
                <p><em>created by : {{ info.created_by }}</em></p>
            </div>
        </li>
        {% endfor %}
  </ul>


{% endblock %}
