{% extends "base.html" %}
{% block content %}
    <div class="container">
      <div class="row">
          <div class="col s12 m8 offset-m2 deep-purple darken-1">
              <div class="card-panel">
                  <h3 class="center-align per_marker">
                      {{ username.capitalize() }}'s Profile
                  </h3>
              </div>
          </div>
      </div>
      <a id="ifProfileCharactersExist" href="{{ url_for('create_from_profile', username=session['user']) }}" class="waves-effect waves-light btn-small per_marker green accent-3">Create New Character</a>
       <ul  id="profileHideCollapsible" class="collapsible">
            {% for info in infos %}
            {% if session.user|lower == info.created_by|lower %}
            <li>
                <div class="collapsible-header white-text deep-purple darken-1">
                    <div class="col s9">
                        <strong id="profileCharacters">This is {{ info.infos_name.capitalize() }}, a  {{ info.infos_description.capitalize() }} {{ info.characters_role.capitalize() }}. </strong>
                    </div>
                </div>
                <div class="collapsible-body">
                    <h5 class="per_marker">Character Bio :</h5> 
                    <p>{{ info.infos_bio }}</p>
                    <hr>
                    <h5 class="per_marker">Special skills include :</h5> 
                    <p>{{ info.infos_skills }}</p>
                    <hr>
                    <p><em>Created by : {{ info.created_by.capitalize() }}</em></p>
                    <hr>
                    <div class="col s3">
                        <!-- Modal Trigger -->
                        <button data-target="myModal" 
                        class="fakeCharacaterDeleteButton btn modal-trigger per_marker red accent-3">Delete</button>
                        <a href="{{ url_for('edit_info_from_profile', info_id=info._id) }}" 
                            class="waves-effect waves-light btn-small per_marker blue accent-3">Edit</a>
                        <a href="{{ url_for('profile', username=session['user']) }}" 
                            class="cancelButton waves-effect waves-light btn-small per_marker yellow accent-3">No! Cancel</a>
                        <a href="{{ url_for('delete_info_profile', info_id=info._id) }}" 
                                class="characterDeleteButton waves-effect waves-light
                                btn-small per_marker red accent-3"> Yes! Delete forever</a>
                    </div>
                </div>
            </li>
                    {% endif %}
            {% endfor %}
        </ul>
        <!-- Modal Structure -->
        <div id="myModal" class="modal bottom-sheet">
            <div class="modal-content">
            <h4 class="per_marker">Warning!</h4>
            <p>Deletion is absolutely permenant.</p>
            <a href="{{ url_for('profile', username=session['user']) }}" class="modal-close btn green accent-3">NO! Cancel.</a>
            <a class="modal-close btn red accent-3">Proceed to delete</a>
            </div>
            <div class="modal-footer left-align">
            </div>
        </div>
        <div class="row s12 m8 offset-m2 center-align deep-purple darken-1 white-text" id="profileCharactersNone">No characters created yet. 
            You can <a href="{{ url_for('create_from_profile', username=session['user']) }}" class="waves-effect waves-light btn-small per_marker green accent-3">Create</a>
            , or <a href="{{ url_for('get_info') }}" class="waves-effect waves-light btn-small per_marker blue accent-3">view characters</a>.
        </div>
    </div>
{% endblock %}
